<link rel="stylesheet" href="/static/css/index.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/index.js"></script>

<div style="display:flex; flex-direction:column; align-items:center; gap:16px;">
  <div class="card flex-center max-width-1080">
    <h1 class="click-item"> Server Status </h1>
  </div>

  <div class="card flex-center max-width-1080">
    <h1 class="click-item" id="ClickPullSourceCode"> Pull Source Code </h1>
  </div>

  <div class="card flex-center max-width-1080">
    <h1 class="click-item" id="ClickRestartServer"> Restart Server </h1>
  </div>

  <div class="card flex-center max-width-1080">
    <h1 class="click-item" id="ClickBuildServer"> Build Server  </h1>
  </div>

  <div class="card flex-center max-width-1080">
    <h1 class="click-item" id="ClickBuildClient"> Build Client </h1>
  </div>

</div>