<link rel="stylesheet" href="/static/css/index.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/index.js"></script>


  
  <div class="flex-column" style="align-items:center;">
    <div style="width:100%; max-width:1280px">

      {# Project #}
      <div style="display:flex; margin-bottom:16px;">

        <div class="card-1" style="flex-grow:1;">
          <div style="margin-bottom:8px;">Simple CICD Profile</div>

          <div style="display:flex; flex-direction:column; gap:8px;">
            <div>
              <div class="label-1">Default Hostname</div>
              <div> {{settings.hostname}} </div>
            </div>
            <div>
              <div class="label-1">Project Root</div>
              <div> {{settings.projectRoot}} </div>
            </div>
            <div>
              <div class="label-1">Port</div>
              <div> {{settings.port}} </div>
            </div>
          </div>
        </div>

      </div>

      {# Interactive Workings #}
      <div style="display:flex; gap: 8px; margin-bottom:16px;">

        <div class="card-1" style="flex-grow:1;">
          <div style="margin-bottom:8px;">Working Profile</div>

          <div style="display:flex; flex-direction:column; gap:8px;">
            <div>
              <div class="label-1">PRODUCTION ENV</div>
              <div> DEV-PRODUCTION </div>
            </div>
            <div>
              <div class="label-1">hostname</div>
              <div> https://google.com </div>
            </div>
            <div>
              <div class="label-1">Port</div>
              <div>80</div>
            </div>
          </div>
          {# <div style="width:200px" style="color:#000;">
            <input-text type="box" label="" size="small" placeholder="">서버 관리자 페이지</input-text>
          </div> #}
        </div>

        <div class="card-1 flex-column" style="gap:8px;">
          <div>Works</div>

          <div class="custom-button click-item" id="ClickPullSourceCode"> Pull Source Code </div>
          <div class="custom-button click-item" id="ClickRestartServer"> Restart Server </div>
          <div class="custom-button click-item" id="ClickBuildServer"> Build Server </div>
          <div class="custom-button click-item" id="ClickBuildClient"> Pull Source Code </div>
        </div>
      </div>

      {# Project Server Client Settings #}
      <div style="display:flex; gap: 8px;">

        <div class="card-1 flex-column" style="flex-grow:1; gap:8px;">
          <div>Project Settings</div>

          <div>
            <div class="label-1">Auth ID & PW</div>
            <div class="custom-button"> CHANGE </div>
          </div>
          
        </div>

        <div class="card-1 flex-column" style="flex-grow:1; gap:8px;">
          <div>Server Settings</div>

          <div>
            <div class="label-1">Working Directory</div>
            <div class="custom-button"> {{settings.server.workingDirectory}} </div>
          </div>
          
          <div>
            <div class="label-1">Scripts</div>
            <div class="custom-button"> ~ </div>
          </div>
        </div>

        <div class="card-1 flex-column" style="flex-grow:1; gap:8px;">
          <div>Client Settings</div>

          <div class="label-1">{{settings.client.workingDirectory}}</div>
          <div class="label-1">Build Script</div>

          <div style="display:flex; justify-content:end;">
              <button-component label="변경"></button-component>
          </div>

        </div>
      </div>
    </div>

  </div>
