<link rel="stylesheet" href="/static/css/index.css">

<div class="flex-column" style="align-items:center;">
  <div class="card-1">
  <div style="margin-bottom:8px;">Project Profile</div>

    <form method="post" action="/auth/login">
      <div class="flex-column" style="gap:8px;">
        <div>
          <div class="label-1">identifier</div>
          <input class="input-box small-size" name="userId" class="input" type="text" required >
        </div>
        <div>
          <div class="label-1">password</div>
          <input class="input-box small-size" name="userPw" class="input" type="password" required>
        </div>

        <div class="flex-center">
          <button class="custom-button gothic-font">
            Login
          </button>
        </div>
      </div>
    </form>

  <div>
<div>
  